
server {
    listen {{ nginx_port_no_tls }};
    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{ ansible_host }};
    location / {
            try_files $uri $uri/ =404;
    }
}

server {
    listen {{ nginx_port_tls }} ssl;
    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{ ansible_host }};
    ssl_certificate /etc/nginx/ssl/site.crt;
    ssl_certificate_key /etc/nginx/ssl/site.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
    location / {
            try_files $uri $uri/ =404;
    }
}